body{
    background-color: rgb(168, 10, 10);
}

.siteHeader{
    background-color: rgb(218, 218, 132);
    text-align: center;
    color: rgb(137, 70, 192);
}

.mImgsize{
    width: 1300px;
    height: auto;
}

.logoimg{
    width: 200px;
    height: auto;
}

.logoContainer{
    background-color: rgb(218, 218, 132);
    text-align: center;
    
}

.imgContainer{
    text-align: center;
    background-color: rgb(218, 218, 132);
    margin-bottom: 0px;
}

.ulcontainer{
    text-align: center;
    background-color: rgb(218, 218, 132);
    color: rgb(168, 10, 10);
}